<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Apps</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      <%- include('../partials/_navbar.ejs') %> 
    <h1>Your Apps</h1>
    <a href="/lists/newCategory">Add a Category</a>
     <ul>
 <% lists.forEach(list => { %> 
  <li>
   <a href="/lists/<%= list.id %>">   
    <%= list.title %>
 </a>   
 </li>
 <% }) %>
 </ul>
  </body>
</html>
