<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Category</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      <%- include('../partials/_navbar.ejs') %> 
      <div class="all-category-body">
        <div class="all-category-header">
          <h1>Your Category</h1>
          <a class="add-category-link" href="/lists/newCategory">Add a Category</a>
        </div>
        <ul>
 <% lists.forEach(list => { %> 
  <li>
   <a href="/lists/<%= list.id %>">   
    <%= list.title %>
      </a>   
        </li>
       <% }) %>
        </ul>

      </div>
    
    
     
  </body>
</html>
