/* style for the navBar page _navbar.ejs*/

.navbar{
    display: flex;
    flex-direction:row;
    max-width: 100vw;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
}

/* style navbar for header*/
#nav-header{
    color:#ce4866;
    size: 1em;
    margin: 0;
}

/* style nav link */
.authlink{
    text-decoration: none;
    margin: 0 15px;
    color: #4b598e;
    font-weight: bold;
}

/* after move the mouse to link */
.authlink:hover{
    color: white;
}