@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #9ac2ef;
}

/* style show list category page */

.action-buttons-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.edit-category-button,
.delete-category-button,
.add-item-button {
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    border: none;
    text-align: center;
}

.edit-category-button {
    background-color: #ffc107;
    color: #333;
}

.edit-category-button:hover {
    background-color: #e0a800;
}

.delete-category-button {
    background-color: #dc3545;
    color: white;
}

.delete-category-button:hover {
    background-color: #c82333;
}

.add-item-button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
}

.add-item-button:hover {
    background-color: #0056b3;
}


.list-items-container {
    list-style: none;
    padding: 0;
}

.list-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.item-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
}

.item-link:hover {
    background-color: #e9e9e9;
}

.item-title {
    font-weight: bold;
    flex-grow: 2;
}

.item-date,
.item-time,
.item-status {
    flex-grow: 1;
    text-align: center;
    font-size: 0.9em;
    color: #555;
    margin-left: 15px;
}

/* style show listitem page */ 

.item-details-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.item-details-card p {
    margin: 5px 0;
}

.item-notes {
    white-space: pre-wrap; 
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 4px;
}


.action-button-group {
    display: flex;
    gap: 15px; 
    margin-bottom: 20px;
}


.edit-item-button,
.delete-item-button {
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}


.edit-item-button {
    background-color: #ffc107; 
    color: #333;
}

.edit-item-button:hover {
    background-color: #e0a800;
}


.delete-item-button {
    background-color: #dc3545; 
    color: white;
}

.delete-item-button:hover {
    background-color: #c82333;
}


.back-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #6c757d; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color: #5a6268;
}