
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New List</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- include('../../partials/_navbar.ejs') %>
    <h1>Add a New List to: <%= list.title %></h1>
    <div class="new-body">
        <form action="/lists/<%= list._id %>/addItem" method="POST">

        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required/>

        <label for="notes">Notes:</label>
        <textarea type="text" name="notes" id="notes" required> </textarea>

        <label for="date">Date:</label>
        <input type="date" name="date" id="date"/>

        <label for="time">Time:</label>
        <input type="time" name="time" id="time"/>

    <label for="status">Status:</label>
    <select id="status" name="status">
    <option value="Upcoming">Upcoming</option>
    <option value="Current">Current</option>
    <option value="Completed">Completed</option>
  </select>
   
  <button type="submit">Add Lists</button>

  <a class="back-link" href="/lists/<%= list._id %>">Back to ListItem</a>
   
</form>
    </div>

  
  </body>
</html>
